.carousel-wrap.
  <div id="indexArousel" class="carousel slide">
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
          <div class="item active">
               <a href="#"><img src="images/pics/slide_test1.png" alt="1 slide"></a>
          </div>
          <div class="item">
               <a href="#"><img src="images/pics/slide_test2.png" alt="2 slide"></a>
          </div>
          <div class="item">
               <a href="#"><img src="images/pics/slide_test3.png" alt="3 slide"></a>
          </div>
          <div class="item">
               <a href="#"><img src="images/pics/slide_test4.png" alt="4 slide"></a>
          </div>
          <div class="item">
               <a href="#"><img src="images/pics/slide_test5.png" alt="5 slide"></a>
          </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class="carousel-control left" href="#indexArousel" data-slide="prev"></a>
      <a class="carousel-control right" href="#indexArousel" data-slide="next"></a>
      <!-- 轮播（Carousel）指标 -->
      <ul class="carousel-indicators">
          <li data-target="#indexArousel" data-slide-to="0" class="active">上赛季火箭</li>
          <li data-target="#indexArousel" data-slide-to="1">诛仙XXX</li>
          <li data-target="#indexArousel" data-slide-to="2">上赛季火箭</li>
          <li data-target="#indexArousel" data-slide-to="3">上赛季火箭</li>
          <li data-target="#indexArousel" data-slide-to="4">上赛季火箭</li>
      </ul>
  </div>