.center-wrap.tank.
 <!-- 开始 -->
  <div class="center_modal_box">
    <ul class="modal_list">
      <li>
        <div class="modal_title title_bg_lol">
          <p class="state_green">进行中</p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
            <div class="fr">
              <div class="icon-people v_middle"></div>
              <span class="v_middle p_right_10">987/1000</span>
            </div>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="time_limit">
            <li>
              <div class="icon-hand v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-war v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-pos v_middle"></div>
              <span class="v_middle lowRemind">华东 华南 西北 西南</span>
            </li>
          </ul>
          <ul class="style_limit">
            <li>击杀</li>
            <li>匹配</li>
            <li>排位</li>
            <li>限时</li>
            <li>限单人</li>
            <li>限单人</li>
            <li>限定英雄</li>
          </ul>
          <div class="foot_status">
            <a class="status_button btn_status_1" href="">观看直播</a>
            <a class="status_button btn_status_2" href="">我要报名</a>
          </div>
        </div>
      </li>
      <li>
        <div class="modal_title title_bg_m3g">
          <p class="blue">报名中</p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="time_limit">
            <li>
              <div class="icon-hand v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-war v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-pos v_middle"></div>
              <span class="v_middle lowRemind">华东 华南 西北 西南</span>
            </li>
          </ul>
          <ul class="style_limit">
            <li>击杀</li>
            <li>匹配</li>
            <li>排位</li>
            <li>限时</li>
            <li>限单人</li>
            <li>限单人</li>
            <li>限定英雄</li>
          </ul>
          <div class="foot_status">
            <a class="status_button btn_status_2" href="">我要报名</a>
          </div>
        </div>
      </li>
      <!-- <li>
        <div class="modal_title title_bg_tk">
          <p class="state_red">报名中</p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="time_limit">
            <li>
              <div class="icon-hand v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-war v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-pos v_middle"></div>
              <span class="v_middle lowRemind">华东 华南 西北 西南</span>
            </li>
          </ul>
          <ul class="style_limit">
            <li>击杀</li>
            <li>匹配</li>
            <li>排位</li>
            <li>限时</li>
            <li>限单人</li>
            <li>限单人</li>
            <li>限定英雄</li>
          </ul>
          <div class="foot_status">
            <a class="status_button btn_status_2" href="">我要报名</a>
          </div>
        </div>
      </li>
      <li>
        <div class="modal_title title_bg_300">
          <p class="grey">报名中</p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="rank_list">
            <li>
              <span class="rank_c_1">1</span>
              <div>短腿小胖子</div>
              <div>击杀999</div>
              <div>￥99999</div>
            </li>
            <li>
              <span class="rank_c_2">2</span>
              <div>短腿小胖子</div>
              <div>击杀999</div>
              <div>￥99999</div>
            </li>
            <li>
              <span class="rank_c_3">3</span>
              <div>短腿小胖子</div>
              <div>击杀999</div>
              <div>￥99999</div>
            </li>
            <li class="rank_my">
           		 我的排名：999
            </li>
          </ul>
          <div class="foot_status">
            <a class="btn_status_4" href="">已报名</a>
            <a class="status_button btn_status_3" href="">获奖名单</a>
          </div>
        </div>
      </li>
      <li>
        <div class="modal_title title_bg_lol">
          <p class="state_lBlue">
          	复核中
          	<span>为确保比赛成绩真实有效，官方将在2个工作日内完成赛绩核查。</span>
          </p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
            <div class="fr">
              <div class="icon-people v_middle"></div>
              <span class="v_middle p_right_10">987/1000</span>
            </div>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="time_limit">
            <li>
              <div class="icon-hand v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-war v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-pos v_middle"></div>
              <span class="v_middle lowRemind">华东 华南 西北 西南</span>
            </li>
          </ul>
          <ul class="style_limit">
            <li>击杀</li>
            <li>匹配</li>
            <li>排位</li>
            <li>限时</li>
            <li>限单人</li>
            <li>限单人</li>
            <li>限定英雄</li>
          </ul>
          <div class="foot_status">
            <a class="status_button btn_status_1" href="">观看直播</a>
            <a class="status_button btn_status_2" href="">我要报名</a>
          </div>
        </div>
      </li>
      <li>
        <div class="modal_title title_bg_m3g">
          <p class="state_red">报名中</p>
          <div class="modal_title_bottom">
            <span class="fl p_left_10">心疼宝宝专场</span>
          </div>
        </div>
        <div class="li_box">
          <div class="modal_middle">总奖金：￥50000</div>
          <ul class="time_limit">
            <li>
              <div class="icon-hand v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-war v_middle"></div>
              <span class="v_middle">09.16 20:00 至 09.26 20:00</span>
            </li>
            <li>
              <div class="icon-pos v_middle"></div>
              <span class="v_middle lowRemind">华东 华南 西北 西南</span>
            </li>
          </ul>
          <ul class="style_limit">
            <li>击杀</li>
            <li>匹配</li>
            <li>排位</li>
            <li>限时</li>
            <li>限单人</li>
            <li>限单人</li>
            <li>限定英雄</li>
          </ul>
          <div class="foot_status">
            <a class="status_button btn_status_2" href="">我要报名</a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
 <!-- 结束 -->
  
