extends _layouts
block title
  title 抽奖
block style
  link(rel='stylesheet', href='styles/_lottery.css')
block box
  section.lottery-wrap
    .award
      h3.t3.ti 我的奖品
      .rule-wrap
        i.ico-rule
        .rule.none
          h4.t4 奖品兑换规则：
          p.content.
            1.Apple Watch和红米手机每人限换1部；<br>
            2.英雄联盟点券单词兑换额度为3000点券/次；<br>
            3.Q币单次兑换额度为10Q币/次；<br>
            4.实物奖品碎片在活动期内有效，结束后所有碎片会按照1：1000比例返还顺豆到当前火马账户内;<br>
            5.点券和Q币碎片会保留，后续活动仍然可继续累加。
      ul.ul-award
        - var items = {'iwatch':'0/25', 'hm3':'0/10', 'lol':'0/1', '3000dq':'3/10', 'qb':'10/10'}
        - each val,key in items
          li
            .item
              .img-wrap
                  img(src='images/pics/' + key + '.jpg', alt='')
                  if key === 'qb'
                    a(href="###").tip 点击兑换
                  else
                    a(href="###").tip.none 点击兑换
              .progress
                case key
                  when "iwatch"
                    i(style="width:0%;")
                  when 'hm3'
                    i(style="width:0%;")
                  when 'lol'
                    i(style="width:0%;")
                  when '3000dq'
                    i(style="width:30%;")
                  default
                    i
                span.count= val
    .record
      h3.t3.ti 获奖记录
      ul.ul-record.smallScroll
        - for(var i=0; i<10; i++)
          li
            p <span class="b">· </span>这里显示的是一条获奖记录
block script
  script(src='scripts/jquery-3.1.0.min.js')
  script.
    ;(function($){

      $('.rule-wrap').hover(function(){
        $(this).find('div').show();
      }, function(){
        $(this).find('div').hide();
      })

    })(jQuery);

  
